@using System.Collections.Generic
@using Soaring.AdminWeb.Models.DatabaseModel
@model IList<XomlTaskModel>
@{ 
    ViewData["Title"] = "Home Page"; 
    Layout = "_MenuLayout"; 
    int taskIndex = 1;
}

<div class="flex-column flex-main-start flex-align-center" style="width: 100%;height:auto;padding-left:1rem">
    <div class="flex-column flex-main-start flex-align-center" style="width: 100%;">
        <div class="flex-row flex-main-start flex-align-start" style="width: 100%;">
            <h2>任务总览</h2>
        </div>
        <div class="hr"></div>
        <form class="flex-row flex-main-center flex-align-center" style="margin: 3rem 0;width: 100%;">
            <input class="form-control" placeholder="精准匹配taskId/模糊匹配taskName" style="width: 60%;margin:0 2rem;">
            <button type="button" class="btn btn-primary">Search</button>
        </form>
        <div class="hr"></div>
        <div style="width:100%;padding: 0.5rem;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">名称</th>
                        <th scope="col">路径</th>
                        <th scope="col">创建时间</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@(taskIndex++)</th>
                            <td>@item.XomlTaskId</td>
                            <td>@item.XomlTaskName</td>
                            <td>@item.XomlTaskPath</td>
                            <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td>
                                <form method="post" action="/home/deleteXomlTask">
                                    <input type="text" value="@item.XomlTaskId" style="display:none" name="taskId"/>
                                    <input type="submit" class="btn btn-danger" value="删除" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>

    </div>
</div>